* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cbtn{
    width: 65px;
    font-size: 12px;
    margin-left:5px;
    padding: 3px 0;
    background-color: #fff;
    border: solid 1px #C3D3E2;
    border-radius: 5px;
}
.tblimg{
    width: 40px;
    height: 40px;
}
.dicon{
    height: 16px;
    width: 16px;
}
.lsticn{
    background-color: #85D7A9;
    padding: 10px;
    border-radius: 10px;
}
.lsticn1{
    background-color: #C29FEE;
    padding: 10px;
    border-radius: 10px;
}
.lsticn2{
    background-color: #EF9130;
    padding: 10px;
    border-radius: 10px;
}
.lsticn3{
    background-color: #01A5FB;
    padding: 10px;
    border-radius: 10px;
}
.lgreen{
    background-color: #C0EBD3;
    height: 100%;
}
.lprple{
    background-color: #F6EAFF;
    height: 100%;
}
.lpeach{
    background-color: #FCE9D6;
    height: 100%;
}
.lblue{
    background-color: #CCEDFE;
    height: 100%;
}
.tbltxt{
    font-size: 12px;
}
.search{
    border: solid 1px #BEBEBE;
    background-color: #F7F7F7;
    border-radius: 10px;
    
    
}
.search i{
    background-color: #DFDFDF; 
    box-shadow: inset #A8BDCE 0px 0px 2px 2px;
    border-radius: 10px;
    padding: 9px;
}
.search input{
    margin: 0 5px;
    border:none;
    background-color: #F7F7F7;
}
.search input:focus{
    border:none;
    box-shadow: none;
    outline: none;
}
.nav-link.active{
    background-color: var(--yellow) !important;
    color: #fff !important;
    font-weight: 500;
    border: solid 1px var(--yellow) !important;
}

.nav-link{
    color:var(--yellow) !important;
}
.nav-link:hover{
    border: solid 1px var(--yellow) !important;
}
.main-table2 .table thead tr th{
    background-color: #1D66A5 !important;
    text-align: center;
}

.main-table2 .table thead tr th:first-child{
    border-top-left-radius: 13px
}

.main-table2 .table thead tr th:last-child{
    border-top-right-radius: 13px
}

.main-table2 .table tbody tr td{
    background-color: #FEF2E5;
    text-wrap: nowrap;
    text-align: center;
    padding: 12px;
}

.main-table2 .table tbody tr{
    border: 5px solid hsl(0,0%,100%)
}
.main-table2 .table tbody tr td:first-child{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.main-table2 .table tbody tr td:last-child{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.main-table3 .table thead tr th{
    background-color: #1D66A5 !important;
    text-align: center;
}
.main-table3 .table thead tr th:first-child{
    border-top-left-radius: 13px
}
.main-table3 .table thead tr th:last-child{
    border-top-right-radius: 13px
}
.main-table4 .table thead tr th{
    background-color: #1D66A5 !important;
    text-align: center;
}
.login-option {
    width: 20px
}
.login-img {
    object-fit: cover;
    object-position: center;
}
.bg-pink {
    background: #fee3dc;
}
.login-img-fix {
    left: 50%;
}
.lblue2 {
    background: #fdf2e4;
}